{% extends 'navbar.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Inscription</h1>
            <button onclick="location.href = 'register/'" type="button" class="btn btn-primary">S'inscrire</button>
        </div>
        <div class="col-6">
            <h1>Connexion</h1>
            <form method="POST" action="/action_page.php">
                <label for="fname">Nom d'utilisateur :</label><br>
                <input type="text" id="id" name="id"><br>
                <label for="lname">Mot de passe :</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input class="btn btn-primary" type="submit" value="Se connecter">
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>

{% endblock %}
