{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navspace" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.png' %}" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                LITReview
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/flux">Flux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/subscriptions">Abonnements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Se déconnecter</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% block content %}
{% endblock content %}