<div class="border rounded bottom_space animate__animated animate__fadeInRight post">
    <div class="justify-content-between flex">
    {% if post.user.id == request.user.id %}
            <text> Vous avez publié une critique. </text>
    {% else %}
            <text> {{ post.user}} a publié une critique. </text>
    {% endif %}
            <text> {{ post.time_created }}
    </div>
    <h1> {{ post.headline }} </h1>
    <div class="ratings">
        <text> Note : </text>
        <text>
        {% for star in post.stars_count %}
            ★
        {% endfor %}
        </text>
    </div>
    <p> {{ post.body }} </p>
    {% if post.user.id == request.user.id %}
    <div class="row">
        <div class="col">
            <form action="/update_review/{{post.id}}" method="GET">
                <button type="submit" class="btn btn-primary bottom_space">Modifier votre critique.</button>
            </form>
        </div>
        <div class="col">
            <form action="/delete_review/{{post.id}}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger bottom_space">Supprimer votre critique.</button>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="border rounded bottom_space animate__animated animate__fadeInRight ticket_review">
        <div class="justify-content-between flex">
        {% if post.ticket.user.id == request.user.id %}
            <text> Vous avez demandé une critique. </text>
        {% else %}
            <text> {{ post.ticket.user}} a demandé une critique. </text>
        {% endif %}
            <text> {{ post.ticket.time_created }}
        </div>
        <h1> {{ post.ticket.title }} </h1>
        <p> {{ post.ticket.description }} </p>
        {% if post.ticket.image %}
            <img src="{{post.ticket.image.url}}" class="img-fluid ticket_img bottom_space" alt="Image du ticket : {{ post.ticket.title }}">
        {% endif %}
        <div class="row">
            {% if post.ticket.user.id == request.user.id %}
                <div class="col">
                    <form action="/update_ticket/{{post.ticket.id}}" method="GET">
                        <button type="submit" class="btn btn-primary bottom_space">Modifier votre ticket.</button>
                    </form>
                </div>
                <div class="col">
                    <form action="/delete_ticket/{{post.ticket.id}}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger bottom_space">Supprimer votre ticket.</button>
                    </form>
                </div>
            {% endif %}
        </div>
    
    </div>

</div>