<div class="border rounded bottom_space">
    <div class="justify-content-between flex">
    {% if post.user.id == request.user.id %}
            <text> Vous avez publié une critique. </text>
    {% else %}
            <text> {{ post.user}} a publié une critique. </text>
    {% endif %}
            <text> {{ post.time_created }}
    </div>
    <h1> {{ post.headline }} </h1>
    <div class="ratings">
        {% for star in post.ratings %}
            <span class="fa fa-star checked"></span>
        {% endfor %}
    </div>
    <p> {{ post.body }} </p>
    {% if post.user.id == request.user.id %}
    <div class="col">
        <form action="/update_review/{{post.id}}" method="GET">
            <button type="submit" class="btn btn-primary">Modifier votre critique.</button>
        </form>
    </div>
{% endif %}
</div>