{% extends 'navbar.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container text-center animate__animated animate__fadeInRight">

    <h1> Suivre d'autres utilisateurs. </h1>
    <div class='w-50 inline-grid'>
        <form action="." method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <div class= "text-center">
                <button type="submit" class="btn btn-primary">Suivre.</button>
            </div>
        </form>
    </div>

    <h1> Abonnements. </h1>
    <div class='w-50 inline-grid'>
        {% if followings %}
        <table class="table">
            <tbody>
                {% for following in followings  %}
                <tr>
                    <td>
                        <text class='align-middle'> {{ following.followed_user }} </text>
                    </td>
                    <td>
                        <form action="/delete_subscription/{{following.id}}" method="POST" class="form-group">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Se désabonner.</button>
                        </form>
                    </td>
                </tr>      
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <p> Vous n'êtes abonné à personne.</p>
        {% endif %}
    </div>

    <h1> Abonnés. </h1>
    <div class='w-50 inline-grid'>
        {% if followers%}
        <table class="table">
            <tbody>
                {% for follower in followers  %}
                <tr>
                    <td>
                        <text> {{ follower.user }} </text>
                    </td>
                </tr>   
                {% endfor %}
            </tbody>
        </table>
            </div>
        {% else %}
            <p> Vous n'avez aucun abonné.</p>
        {% endif %}
    </div>
    
</div>


{% endblock %}