<span class="border">
    <div class="row">
    {% if ticket.user.id == request.user.id %}
            <text> Vous avez demandé une critique. </text>
    {% else %}
            <text> {{ ticket.user}} a demandé une critique. </text>
    {% endif %}
            <text> {{ ticket.time_created }}
    </div>
    <h1> {{ ticket.title }} </h1>
    <p> {{ ticket.description }} </p>
    <img src="{{ ticket.image.url }}" class="img-fluid" alt="Image du ticket : {{ ticket.title }}">
    <button type="button" class="btn btn-primary">Créer une critique en réponse.</button>
</span>